# Exercise_whatsapp

In [52]:
name='Monty'
title='Python'
full_name=name+" "+title
len_name=len(full_name)-1
first_name=full_name[0:6]
is_f='f' in full_name
split=full_name.split(" ")
print("full name is : ",full_name)
print("first name is : ",first_name)
print("length of name is : ",len_name)
print("status of word 'f' in full name : ",is_f)
print("split name is : ",split)

full name is :  Monty Python
first name is :  Monty
length of name is :  11
status of word 'f' in full name :  False
split name is :  ['Monty', 'Python']

# boolean operatio for finding string

In [1]:
my_name='neeraj seth'
start_with=my_name.startswith("neeraj",0,len(my_name))# 0 is used to search from 1st index
ends_with=my_name.endswith("seth",0,len(my_name))
print("Is start with neeraj? ",start_with)
print("Is end with seth? ",ends_with)

Is start with neeraj?  True
Is end with seth?  True

# uppercase/lowercase

In [19]:
str='Neeraj seth'
print(str.upper())
print(str.lower())

NEERAJ SETH
neeraj seth

# Mutability of string

In [4]:
#it shows different ID
str="Mumbai"
print(id(str))
str=str+"mahanagri"
print(id(str))
a=10
print(id(a))
a=a+5
print(id(a))

2543029821088
2543029049968
140704152589408
140704152589568

# Replace any word

In [39]:
str='mumbai'
str=str.replace("m","b")#it will chang all m with b
print(str)
str1=str.replace("m","b",1)
print(str1)

bumbai
bubbai

# list

In [133]:
list1=[]
list2=[1,2,3,4]
list3=['mango','apple','banana']
a='neeraj'
b='seth'
print(a)

neeraj

# store 1 to 10 in list manually and print only even numbers using indexing and slicing

In [134]:
#z=[1,2,3,4,5,6,7,8,9,10]
#b=1
#n=10
#print("List 'b'= ",z[b:n])
a=[1,2,3,4,5,6,7,8,9,10]
print(len(a))
print("List= ",a[0:5])
print("even= ",a[1:len(a):2])
print("odd= " ,a[0:len(a):2])
print("Reverse= ",a[-1::-1])
print("Reverse= ",a[len(a)-1::-1])

10
List=  [1, 2, 3, 4, 5]
even=  [2, 4, 6, 8, 10]
odd=  [1, 3, 5, 7, 9]
Reverse=  [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
Reverse=  [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [6]:
a=[1,2,3]
b=[4,5,6]
print("add: ",a+b)
print("repeatation: ", [a]*2)       #repetition
3 in a             #membership
print("max: ",max(a))      #max value in list
print("min: ",min(a))
a.append(10)       #add 10 at end of list
print("append: ",a)
a.extend(b)#add list b in list a
print("extend: ",a)
a.pop()      #remove value of last index by defult or put index number whose value wants to remove
print("pop: ",a)
a.remove(2) #remove given number
print("remove: ",a)

add:  [1, 2, 3, 4, 5, 6]
repeatation:  [[1, 2, 3], [1, 2, 3]]
max:  3
min:  1
append:  [1, 2, 3, 10]
extend:  [1, 2, 3, 10, 4, 5, 6]
pop:  [1, 2, 3, 10, 4, 5]
remove:  [1, 3, 10, 4, 5]

# Weight Exercise

In [149]:
weight=[70,80,45,50]
maximum=max(weight)
#weight=weight.update(45,48)        #replace did not work in numbers
weight[2]=48
print(weight)
total=sum(weight)
print("Sum: ",total)
length=len(weight)
mean=total/length         #datatype of average operation will always be float
print("mean: ",mean)

[70, 80, 48, 50]
Sum:  248
mean:  62.0

# keys of Dictionary

In [162]:
stud1={"roll": 101,"age": 21,"prog": "datascience","mob":958234}
stud2={"roll": 102,"age": 21,"prog": "AI","mob":992092}
print(stud1)
print(stud2)
stud1.keys()       #display keys of dictionary

{'roll': 101, 'age': 21, 'prog': 'datascience', 'mob': 958234}
{'roll': 102, 'age': 21, 'prog': 'AI', 'mob': 992092}

dict_keys(['roll', 'age', 'prog', 'mob'])

In [163]:
stud2["Home_phone"]=123456          #Add new key in dictionary
stud2.keys()

dict_keys(['roll', 'age', 'prog', 'mob', 'Home_phone'])

In [170]:
#create dictioany and take input from user
r=input("roll number: ")
a=input("age: ")
p=input("program: ")
m=input("mobile: ")
stud3={"roll":r,"age":a,"prog":p,"mob":m}
print(stud3)

roll number: 1
age: 2
program: 3
mobile: 4

In [171]:
#direct without using variable
stud3={"roll":input("roll number: "),"age":input("age: "),"prog":input("program: "),"mob":input("mobile: ")}
print(stud3)

roll number: 1
age: 2
program: 3
mobile: 4
{'roll': '1', 'age': '2', 'prog': '3', 'mob': '4'}

In [175]:
#update vale
stud3["age"]=22
print(stud3)

#remove key in dictionary
del stud3["mob"]
print(stud3)

{'roll': '1', 'age': 22, 'prog': '3', 'mob': '4'}
{'roll': '1', 'age': 22, 'prog': '3'}

# Exercise_dictionary

In [177]:
fruit={"apple":"green","banana":"yellow","cherry":"red"}
print(fruit)
fruit["apple"]="red"
print(fruit)
fruit["guava"]="green"
print(fruit)
del fruit["cherry"]
print(fruit)

{'apple': 'green', 'banana': 'yellow', 'cherry': 'red'}
{'apple': 'red', 'banana': 'yellow', 'cherry': 'red'}
{'apple': 'red', 'banana': 'yellow', 'cherry': 'red', 'guava': 'green'}
{'apple': 'red', 'banana': 'yellow', 'guava': 'green'}

# Tuples

In [178]:
a=(1,2)
b=(3,4)
print(a)

(1, 2)

# Exercise-Tuples(weight)

In [205]:
weights=(70,80,45,50)
#weights=weights*2
weights=weights[0:2]                     #perform indexing/slicing operation
print(weights)
weights_new=(70,80,48,50)
minimum=min(weights_new)
maximum=max(weights_new)
sum_weights=sum(weight_new)
mean_new=sum_weights/len(weight_new)
print("new weights: ",weight_new)
print("maximum weight: ",maximum)
print("minimum weight: ",minimum)
print("sum of weights: ",sum_weights)
print("mean of weights: ",mean_new)

(70, 80)
new weights:  (70, 80, 48, 50)
maximum weight:  80
minimum weight:  48
sum of weights:  248
mean of weights:  62.0

# Add items in sequence

In [7]:
cart=[]
cart.append("wheat")
print(cart)
cart.append("milk")
print(cart)
cart.append("egg")
print(cart)

['wheat']
['wheat', 'milk']
['wheat', 'milk', 'egg']

In [209]:
cart.insert(1,"apple")       #add apple in given index
print(cart)

['wheat', 'apple', 'milk', 'egg']

In [211]:
cart.sort()
print(cart)

['apple', 'egg', 'milk', 'wheat']

In [212]:
cart.reverse()
print(cart)

['wheat', 'milk', 'egg', 'apple']

In [214]:
cart.append("milk")
print(cart)

['wheat', 'milk', 'egg', 'apple', 'milk']

In [216]:
cart.remove("milk")
print(cart)

['wheat', 'egg', 'apple']

In [217]:
cart.append("milk")
print(cart)

['wheat', 'egg', 'apple', 'milk']

In [218]:
cart.append("milk")
print(cart)

['wheat', 'egg', 'apple', 'milk', 'milk']

In [242]:
cart.append("milk")
print(cart)

['wheat', 'egg', 'apple', 'milk', 'milk', 'milk']

In [243]:
cart.remove("milk")       #it will remove only first milk
print(cart)

['wheat', 'egg', 'apple', 'milk', 'milk']

# Sets

In [245]:
my_set={1,2,3,4,5,6,7}
type(my_set)
#<class 'set'>
my_set.add(8)
print(my_set)
my_set.remove(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 8}

In [246]:
10 in my_set

False

In [247]:
6 in my_set

True

In [252]:
set1={1,2,3,4}
set2={2,4}
set3=set1.difference(set2)
print(set3)

{1, 3}

In [253]:
set4=set2.difference(set1)
print(set4)

set()

# if-else

In [8]:
x=int(input("x=: "))
y=int(input("y=: "))
z=int(input("z=: "))
q=x+y+z
print("the sum of {} and {} and {} = {}".format(x,y,z,q))
print("the sum of",x,"and",y,"and",z,"=",q)
if x>y and x>z:
    print("x is greatest")
elif y>x and y>z:
    print("y is greatest")
elif z>x and z>y:
    print("z is greatest")
else:
    print(" all are equall")

x=: 1
y=: 2
z=: 3
the sum of 1 and 2 and 3 = 6
the sum of 1 and 2 and 3 = 6
z is greatest

x=input("x=: ")
y=input("y=: ")
z=input("z=: ")
if x>y:
    if x>z:
        print("x is greatest")
    else:
        print("z is greatest")
elif y>z:
    print("y is greatest")
else:
    print(" all are equall")

# finding +ve/-ve or zero

In [1]:
x=int(input("x: " ))
if x>0:
   # print("x is positive")
    print("{} is positive".format(x))
elif x<0 :
    print("{} is negative".format(x))
else :
    print("{} is zero".format(x))

x: 22
22 is positive

# Odd/even

In [14]:
x=int(input("x=: "))
if x%2==0:
    print("{} is even".format(x))
else:
    print("{} is odd".format(x))

x=: 0
0 is even

# input a string from user and check whether the word "india" is present or not

In [23]:
x=input("type string: ")
if "india" in x:
    print("india is present")
else:
    print("india is not present")

type string: my name is india
yes

# Pallendrom

In [25]:
x=input("type a word: ")
reverse=x[-1::-1]
if x==reverse:
    print("pallendrom")
else:
    print("not pallendrom")

type a word: malayalam
pallendrom

# Loops-while

In [26]:
num_sum=0
count=0
while(count<10):
    num_sum=num_sum+count
    count=count+1
    if count==5:
        break
print("Sum of first",count,"integers is: ",num_sum)

Sum of first 5 integers is:  10

In [29]:
num_sum=0
count=0
while(count<10):
    num_sum=num_sum+count
    count=count+1
    if count==5:
        continue
    print("Sum of first",count,"integers is: ",num_sum)

Sum of first 1 integers is:  0
Sum of first 2 integers is:  1
Sum of first 3 integers is:  3
Sum of first 4 integers is:  6
Sum of first 6 integers is:  15
Sum of first 7 integers is:  21
Sum of first 8 integers is:  28
Sum of first 9 integers is:  36
Sum of first 10 integers is:  45

# sum of first 10 natural number

In [15]:
sum_natural=0
count=0
while(count<11):
    sum_natural=sum_natural+count
    count=count+1
print("sum of first 10 natural no. is: ",sum_natural)

sum of first 10 natural no. is:  55

# for loop (for x in range(7)

In [17]:
for x in range(7):
    if x==3 or x==6:
        continue
    print(x)

0
1
2
4
5

In [18]:
sum_natural=0
for count in range (1,11):
    sum_natural=sum_natural+count
print("sum of first 10 natural no. is: ",sum_natural)

sum of first 10 natural no. is:  55

# sum of all even and odd no. in first 10 natural no.

In [22]:
count=0
sum_even=0
sum_odd=0
for count in range (1,11):
    if count%2 ==0:
        sum_even=sum_even+count
    else:
        sum_odd=sum_odd+count
print("sum of first 10 Even no. is: ",sum_even)
print("sum of first 10 Odd no. is: ",sum_odd)

sum of first 10 Even no. is:  30
sum of first 10 Odd no. is:  25

In [23]:
cart=["orange","guava","apple","pineapple"]
for i in cart:
    print(i)

orange
guava
apple
pineapple

In [24]:
print(cart)

['orange', 'guava', 'apple', 'pineapple']

In [ ]:
#home work
print multiplication table(i and j multiply)
print odd natural number series
print floyd triangle
1
10
101
1010
download my sql workbench or xampp server

# Multiplication table

In [55]:
i=int(input("input number: "))
j=1
#for range i in range(10)
for j in range(1,11):
    print(i,"*",j,"=",i*j)
j+=1

input number: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50